{% extends 'layout.html.twig' %}

{% block title %} + 18 ANS to Night {% endblock %}




{% block content %}
<header id="home">
            
	<section class="hero" id="hero" style="background-image: url('https://zupimages.net/up/21/19/oocx.jpeg');">
	  <div class="container">
		<div class="row">
		  <div class="col-md-12 text-right navicon">
			<a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-8 col-md-offset-2 text-center inner">
			<h1 class="animated fadeInDown" style="color: rgb(168, 168, 168); font-size: 60px;">ADULTES<span style="color: rgb(240, 240, 240);">+ 18 ANS</span></h1>
      <p class="animated fadeInUp delay-05s" style="color: rgb(168, 168, 168); font-size: 20px;">Emotions, tentations, vibrations...</p>
		  </div>
		</div>
	  </div>
	</section>
  </header>

<div class="hot">

<section class="rounded mx-auto d-block">


<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" >
  <div class="carousel-inner" >
    <div class="carousel-item active">
      <img src="https://zupimages.net/up/21/19/u8ul.jpeg" class="d-block w-20 h-15 p-5" >
    </div>
    <div class="carousel-item">
      <img src="https://zupimages.net/up/21/19/ej50.gif"  class="d-block w-20 h-15 p-5">
    </div>
    <div class="carousel-item">
      <img src="https://zupimages.net/up/21/19/7c96.jpg" class="d-block w-20 h-15 p-5" >
    </div>
    <div class="carousel-item">
      <img src="https://zupimages.net/up/21/19/bjbx.jpeg" class="d-block w-20 h-15 p-5" >
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</section>

<div class=text-center>
  <a class="button m-2" href="/">Home</a>
  </div>
</br>
</br>
</br>
</div>
{% endblock %}

{# <section class="container mt-5 justify-content-center">

    <h2 class="text-center mt-3 mb-5"> JE PARIE SUR </h2>

<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
  <option selected >CHOISIS TON ROBOT</option>
  <option value="1">KassTronche</option>
  <option value="2">KiPlante</option>
  <option value="3">KiTrace</option>


</select>

</section>

</br>
</br>

<section class="container mt-5 d-flex justify-content-center">
<select class="form-select form-select-lg" aria-label=".form-select-lg example">
  <option selected>CHOISIS TA MISE</option>
  <option value="1">$ 5</option>
  <option value="2">$ 30</option>
  <option value="3">$ 50</option>
</select>
</section>

</br>

<section class="container mt-3 d-flex justify-content-center">
  <a href="#myModal" class="trigger-btn" data-toggle="modal"><button type="button" class="btn btn-dark">JE MISE</button></a>
</section>
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>				
        <h4 class="modal-title">Merci !</h4>	
      </div>
      <div class="modal-body">
        <p class="text-center">Avez vous plus de 18 ans ? !</p>
      </div>
      <div class="modal-footer">
        <a button class="btn btn-success btn-block" href="/home/payment">OK</a>
        <a button class="btn btn-success btn-block" data-dismiss="modal">NO</a>
      </div>
    </div>
  </div>
</div>   
</section>


{% endblock %} #}