{% extends 'layout.html.twig' %}
{% block content %}
	<main>
		<div class="title">
				<h2>Ajouter un nouveau robot</h2>
		</div>
		<div>
			{% include '/Robot/_form.html.twig' %}
		</div>
	</main>
{% endblock %}